*{
margin: 0;
font-family: 'Open Sans', sans-serif;
    
}

.Header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-position: right bottom ,left ;
    background-repeat: no-repeat;


}
/* header and navigation style */
.nav-title{

font-weight: 800;
font-size: 45px;
}

nav {
    display:flex;
    justify-content: space-between;
    margin : 50px 200px;
}

nav ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    background: #FD6E0A;
border-radius: 5px;
font-size: 20px;

}
/* banner_style{} */
.banner{
    display: flex;
    margin:0 200px;
    align-items: center;
}
.banner_title{
    font-weight: 700;
font-size: 85px;
}
.banner_subtitle{
    font-weight: 600;
font-size: 45px;
margin-bottom: 20px;
}
.banner_dis{
    font-size: 18px;
color: #757575;
margin-bottom: 30px;
}
/*  main */
main{max-width: 1140px;
    align-items: center;
    margin : 0 auto;

}

/* main -> section style */
.about{
margin-top: 130px;
background-color: aliceblue;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.sec-title{
    
    font-weight: 700;
font-size: 35px;
margin-bottom: 50px;

}
.sec-descrip{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* flex er kaj,  */
.about-info-con{
display: flex;
text-align: center;
justify-content: space-around;

}
.about-info{
    font-weight: 400;
    font-size: 20px;
    /* margin: 0 20px;==>justifu-cntr diye same kaj korchi */
}
.info-title{
    color: #757575;

}
.info-desc{font-weight: 700;
    font-size: 20px
}
/* what i do section */
.w-i-d{
margin-top: 130px;

}
.skill-cont{
    display: flex;
    gap: 24px;
}

.sec-title{
    text-align: center;
    font-weight: 700;
font-size: 35px;
margin-bottom: 130px;
}
.sec-des{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 100px;
}
.skill{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
    
}
.imge{
margin: 30px 30px 30px 0px;
}
.skill-title{

    font-weight: 700;
font-size: 20px;
}
.skilldes{
    padding: 30px;
    font-weight: 400;
font-size: 16px;
color: #757575;

}
.sect-title{
    font-weight: 700;
font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.resume{
margin-top: 130px;

}

/* resume er part */
.resume-contr{
    display: flex;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

/* ==================================================== */
/* contact section */


.contact .section-title{
    text-align: left;
}
.contact{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
/* .contact input[type:text], input[type:email], textarea{ */
    /* ay line ta bhujar ache */
 .contact input, textarea{ 
    margin-bottom: 24px;
    padding:18px 30px;
    border:0px;
}
.contact .section-title{
    margin-bottom: 15px;
}

/* input{
    height: 64px;
} 
(ata arupor comment check kore input box er height thik kora laghbe)*/







